/* Movie.css */
* {
    text-decoration: none;
}

.movies {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.movie__data {
    background-color: #1f1f1f; /* 약간 밝은 어두운 회색 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
}

.movie__data:hover {
    transform: scale(1.05);
}

.movie__title {
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 8px;
    color: #e50914;
}

.movie__year {
    font-size: 1em;
    color: #888;
    margin-top: 8px;
    margin-bottom: 8px;
}

.movie__genres {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.genres__genre {
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    margin: 2px;
    border-radius: 5px;
    height: 20px;
}

.movie__poster {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    margin-bottom: 10px;
}

.movie__summary {
    max-height: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    margin-bottom: 10px;
    color: #ccc;
}

hr {
    border: 1px solid #888;
    margin-top: 20px;
    margin-bottom: 10px;
}
